.stage{
    -fx-background-image: url("tile_background.png");
}

.label{
    -fx-font-size: 18pt ;
    -fx-text-alignment: center ;
    -fx-font-family: "Arial";
    //font-style>: border;
    -fx-text-fill: white;
}

.button{
    -fx-background-color: rgb(97, 108, 188);
}

.label1{
    -fx-font-size: 40pt ;
    -fx-text-alignment: center ;
    -fx-font-family: "Arial";
    //-fx-font-style: border;
    -fx-text-fill: white;
}
